<div class="contextual">
<%= link_to l(:label_document_new),
                          {:controller => 'uploads', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add',
                          :onclick => 'Element.show("add-upload"); Form.Element.focus("upload_title"); return false;' %>
</div>

<div id="add-upload" style="display:none;">
<h2><%= "New Upload" %></h2>
<% form_tag({:controller => 'uploads', :action => 'new', :project_id => @project}, :class => "tabular", :multipart => true) do %>
<%= render :partial => 'documents/form' %>
<div class="box">
<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>
<%= submit_tag l(:button_create) %>
<%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-document")' %>
<% end %>
</div>


