<div class="contextual">
<%= link_to l(:button_edit), {:controller => 'uploads', :action => 'edit', :id => @upload, :project_id => @project}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
<%= link_to l(:button_delete), {:controller => 'uploads', :action => 'destroy', :id => @upload, :project_id => @project}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
</div>


<h2><%=h @upload.title %></h2>

<p><em><%=h @upload.description %><br/>
<%=h format_date @upload.created_on %> </em></p>

<h4>Files</h4>

<div class="box">
<% form_tag(project_files_path(@project), :multipart => true, :class => "tabular") do %>

<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>
<%= submit_tag l(:button_add) %>
<% end %>

